.mainBody{
    background: url(images/image-1.jpg);
    background-size : cover
}

h2{
    color: rebeccapurple;
    font-family:"cursive";
    font-size: 30px;
}

.img{
    top: 30%;
    left: 30%;
    position: absolute;
}